.headerup{
    height: 56px;
    border-bottom: 1px solid #dedede;
}

.container{
    width: 970px;
}

.head-up{
    text-align: right;
}

.call-us{
    font-family: Gotham Book, sans-serif;
    font-weight: bold;
    color: #7f7f7f;
    line-height: 56px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.call-us>a{
    color: #7f7f7f;
    margin-left: 5px;
}

.search{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 222px;
    color: #7f7f7f;
}
div.input-group.stylish-input-grup{

}
span.input-group-addon{
background: white;
}
button{
    border: 0;
    background: transparent;
}