.headerup{
    height: 56px;
    border-bottom: 1px solid #dedede;
}

.container{
    width: 970px;
}

.head-up{
    text-align: right;
}

.call-us{
    font-family: Gotham Book, sans-serif;
    font-weight: bold;
    color: #7f7f7f;
    line-height: 56px;
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
}
.call-us>a{
    color: #7f7f7f;
    margin-left: 5px;
}

.search{
    position: relative;
    display: inline-block;
    margin-top: 10px;
    width: 222px;
    color: #7f7f7f;
}
div.input-group.stylish-input-grup{

}
span.input-group-addon{
background: white;
}
button{
    border: 0;
    background: transparent;
}

.navbar-right{
    float: right !important;
    margin-right: -15px;
}
.navbar-default .navbar-nav > li > a
{
    color: #e38b7a;
    font-weight: 600;
    font-size: smaller;
    padding: 28px 15px;
}
.navbar-nav > li {
    float: left;
    margin-top: 10px;
}
.nav > li {
    position: relative;
    display: block;
}
.navbar-default .navbar-collapse {
    border-color: #e7e7e7;
}
.navbar-brand > image {
    display: block;
}
.navbar-brand{
    float: left;
}
.resim1{
    width: 1366px;
    height: 465px;
    background: white url("image/slider.jpg") no-repeat 50% 90%;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.container-fluid{
    background-color: #ffffff;
    display: inline-block;
}
.slider-middle{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    text-align: center;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin: auto;
}
.text-slider-middle{
    color: #fff;
    font-size: 37.53px;
    font-weight: bold;
    text-shadow: 0 0 30px #000;
    font-family: Gotham,sans-serif;
}
a:hover {
    background-color: #ea5d3c;
    border-color: transparent;
}
abbr{
    text-decoration: none;
}